<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {%- if title %}
      {{ title }}
    {% else %}
      Store
    {% endif%}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  {% block styles %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
  <script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>